<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__column">
        <p class="footer__text footer__text-white  footer__text-size">Реквизиты в Польше</p>
        <p class="footer__text"><span>Получатель</span>  Radoconsult OU</p>
        <p class="footer__text"><span>Адрес получателя</span>  Valukoja tn 8/1-110, 11415, Tallin, Estonia</p>
        <p class="footer__text"><span>IBAN</span>  PL86102010260000130204534665</p>
      </div>
      <div class="footer__column">
        <p class="footer__text"><span>Банк получателя </span> PKO BANK POLSKI S.A.</p>
        <p class="footer__text"><span>Адрес банка </span> UL. PULAWSKA 15, 02-515, WARSZAWA, Poland</p>
        <p class="footer__text"><span>Свифт банка получателя</span>  BPKOPLPWXXX</p>
      </div>
      <div class="footer__column">
        <div class="footer__lang">
          <a href="" class="footer__lang-active">RU</a>
          <a href="">EN</a>
        </div>
        <div class="footer__callmodal">
          <a href="tel:+7 495 790 37 31">+7 495 790 37 31</a>
          <a href="#" onclick="return false;">Записаться</a>
        </div>
      </div>
    </div>
    <div class="footer__row">
      <div class="footer__copyright">
        <img src="../img/logo-footer.png" alt="" srcset="../img/logo-footer@2x.png 2x">
        © 2021 Radoconsult OU | All Rights Reserved
      </div>
      <div class="footer__policy">
        <a href="/">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
