// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --fz14: 0.875rem;
  --fz13: 0.813rem;
  --fz12: 0.75rem;
  --burger-width: 40px;
    --burger-height: 20px;
    --burger-line-height: 2px;
}
